<%- if controller_name != 'sessions' %>
  <div class="btn btn-secondary font-weight-bold btn-lg m-1">
    <%= link_to "Entrar", new_session_path(resource_name) %><br />
  </div>
<% end %>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <div class="btn btn-secondary font-weight-bold btn-lg m-1">
    <%= link_to "Cadastrar", new_registration_path(resource_name) %><br />
  </div>
<% end %>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <div class="btn btn-success font-weight-bold btn-lg m-1">
    <%= link_to "Esqueceu a senha?", new_password_path(resource_name) %><br />
  </div>
<% end %>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <div class="btn btn-warning font-weight-bold btn-lg m-1">
    <%= link_to "Não recebeu instruções para confirmar?", new_confirmation_path(resource_name) %><br />
  </div>
<% end %>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <div class="btn btn-info font-weight-bold btn-lg m-1">
    <%= link_to "Não recebeu instruções para desbloquear?", new_unlock_path(resource_name) %><br />
  </div>
<% end %>

<%- if devise_mapping.omniauthable? %>
  <div class="btn btn-dark font-weight-bold btn-lg m-1">
    <%- resource_class.omniauth_providers.each do |provider| %>
      <%= link_to "Entrar com #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider), method: :post %><br />
    <% end %>
  </div>
<% end %>
<p class='mb-5'>.</p>
