<div class="container mt-5">
  <div class="row justify-content-between">
    <div id="product-image" class="col-12 col-md-5 px-0">
      <%= cl_image_tag(@product.photo.key, class: "card-img-top", alt: @product.name) %>
    </div>
    <div class="col-12 col-md-7 p-3">
      Categoria: <strong> <%= @product.category %> </strong>
      <h2 class="my-3"> <strong> <%= @product.name %> </strong> - <%= @product.unit %> </h2>
      <h1 style="color: #D92026;" class="mt-4">
        <strong> R$ <%= number_to_currency(@product.price, unit: '', separator: ",") %> </strong>
      </h1>
      <div >
        <button type="button" class="btn btn-subtract p-0" disabled>
          <i style="color: red;" class="fas fa-minus-square fa-3x"></i>
        </button>
        <span style="width: 50px;"><input type="number" style="text-align:center; display:inline-block; "
        class="form-control-sm item-quantity" value="1" disabled> </span>
        <button type="button" class="btn btn-add p-0 mr-1">
          <i style="color: green;" class="fas fa-plus-square fa-3x"></i>
        </button>
        <button type="button" class="btn btn-outline-danger"> Adicionar ao Carrinho </button>
      </div>
    </div>
  </div>
</div>
<br>
<% if user_signed_in? %>
<%= link_to 'Editar', edit_product_path(@product) %> |
<%= link_to 'Produtos', products_path %>
<% end %>
